<html>
    <head>
        <title>同心联营点问题记录系统</title>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/guang.js"></script>
        <link href="http://cdn.bootcss.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/guang.css">
        <link href="/static/css/datetimepicker.css" rel="stylesheet">
        <!-- 叫网页角标 -->
        <link rel="shortcut icon" type="image/ico" href="/static/img/1.jpg">         

    </head>

    <body class="background-pic">   
        <div class="container-fluid" style="padding-left: 65px;">
            <div class="row-fluid">
                <div class="span12">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="/question_list?qunaye=" style="font-weight:bold" class="btn btn-info">首页</a>
                        </li>
                        <li>
                            <a href="/question_moban" class="btn btn-info">问题模板</a>
                        </li>
                        <li>
                            <a href="/search" class="btn btn-info">查询</a>
                        </li>
                        <li class="dropdown pull-right">
                             <a href="#" data-toggle="dropdown" class="dropdown-toggle" class="btn btn-info">{{.sname}}<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/logout" class="btn btn-info">退出</a>
                                </li>
                            </ul>
                        </li>
                        <li  class="dropdown pull-right">
                                <img alt="140x140" src="/static/img/22.jpeg" class="img-circle" style="width: 50px;"/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <form action="/question_moban_update" method="get">
            <table border="0">
                    <td>
                           
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           
                    </td>
                    <td>
                        <div>
                                <div class="container-fluid">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <table class="table table-hover table-bordered">
                                                    <thead>
                                                        <tr style="background-color:bisque">
                                                            <th>
                                                                序号
                                                            </th>
                                                            <th>
                                                                问题列表
                                                            </th>
                                                            <th>
                                                                问题地点
                                                            </th>
                                                            <th>
                                                                问题类型
                                                            </th>
                                                            <th>
                                                                发生次数
                                                            </th>
                                                            <th>
                                                                &nbsp;
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                            {{range .question_moban_update}}
                                                        <tr class="warning">
                                                            <td>
                                                                <a >{{.IDmoban}}</a>
                                                                <input type="hidden" name="qmid" value="{{.IDmoban}}">
                                                            </td>
                                                            <td>
                                                                <textarea name="wtnrg" id="" cols="30" rows="3" placeholder={{.QuestionList}}></textarea>
                                                            </td>
                                                            <td>
                                                                <input type="text" name="wtddg" placeholder={{.PlaceList}} style="width: 80px;">
                                                            </td>
                                                            <td>
                                                                <input type="text" name="wtysg" placeholder={{.QuestiontypeList}} style="width: 80px;">
                                                            </td>
                                                            <td>
                                                                <input type="text" name="fscsg" placeholder={{.CountList}} style="width: 80px;">
                                                            </td>
                                                            <td>
                                                                <button type="submit" class="btn btn-small btn-warning">修改</button>
                                                            </td>
                                                        </tr>
                                                       
                                                        {{end}}
                                                    
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                            
                        </div>
                            
                    </td> 
                    </table>
                
                
            </table>
    
        </form>
        
    </body>
</html>
